.socials a {
    margin: 0 10px;
    color: #38bdf8;
    text-decoration: none;
}

.cv-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.cert {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.cert:hover {
    background: #38bdf8;
    color: black;
}
